<%if @user.firstname.nil?%>
	<p>Dear <%=@user.mail%></p>
<%else%>
	<p>Dear <%=@user.firstname.capitalize rescue nil%>,</p>
<%end%>

<p style="padding-left:10px">
	<%if @partail_cancel%>
		Your booking with reference number #<%=@cancelled_bookings.first.reference_number%> at workspace <b><%=@workspace.name%></b> has been canceled partially.
	<%else%>
		Your booking with reference number #<%=@cancelled_bookings.first.reference_number%> at workspace <b><%=@workspace.name%></b> has been canceled.
	<%end%>
</p>

<p style="padding-left:10px">Total Amount Paid: <b>Rs. <%=ApplicationHelper.inr_format(@total_paid)%></b></p>
<p style="padding-left:10px">Cancelation Fee(<%=@fee_percentage%>%): <b>Rs. <%=ApplicationHelper.inr_format(@cancelation_fee)%></b></p>


<p style="padding-left:10px">
	<%if @refund_bonus > 0%>
		The bonus amount <b><%=ApplicationHelper.inr_format(@refund_bonus - @remaining_bonus)%></b> is credited back to your bonus account.<br/>
		<%if @remaining_bonus > 0%>
			The bonus amount <b><%=ApplicationHelper.inr_format(@remaining_bonus)%></b> is expired.<br/>
		<%end%>
	<%end%>
	The amount <b>Rs. <%=ApplicationHelper.inr_format(@wallet_refund)%></b> is credited to your wallet, please check at wallet history.
</p>

<p><b>Canceled Bookings Summary:</b></p>
<div style="padding-bottom:20px">
  <table style="width: 100%; margin: 0 auto; border-collapse: collapse; background-color: #ffffff; font-family: Arial, sans-serif; font-size: 14px; color: #333; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
    <thead>
    	<tr style="background-color: #FA2222; color: #ffffff;">
	    	<th style="padding: 12px 10px; text-align: left; vertical-align: middle;">no</th>
	    	<th style="padding: 12px 10px; text-align: left; vertical-align: middle;">Booked Date</th>
	    	<th style="padding: 12px 10px; text-align: left; vertical-align: middle;">Booked For</th>
	    	<th style="padding: 12px 10px; text-align: left; vertical-align: middle;">Present Status</th>
	    	<th style="padding: 12px 10px; text-align: left; vertical-align: middle;">Amount Paid</th>
	    	<th style="padding: 4px 6px; text-align: right; font-size: 15px; text-transform: uppercase; letter-spacing: 0.5px;">Amount Refunded</th>
	    </tr>
    </thead>
    <tbody>
    	<%@cancelled_bookings.each_with_index do|booking,index|%>
    		<tr style="background-color: #ffffff;">
	        <td style="padding: 10px;">
	          <%=index+1%>
	        </td>
	        <td style="padding: 10px;">
	          <%=booking.start_time.strftime('%d-%m-%Y')%>
	        </td>
	        <td style="padding: 10px;">
	          <%=booking&.user&.email || booking&.external_guest&.email || "-" %>
	        </td>
	        <td style="padding: 10px;">
	          <%=booking.status%>
	        </td>
	        <td style="padding: 10px;">
	          <%=ApplicationHelper.inr_format(booking.total_amount)%>
	        </td>
	        <td style="padding: 10px;">
	          <%=ApplicationHelper.inr_format(booking.refund_amount)%>
	        </td>
      	</tr>
      <%end%>			        			     
	  </tbody>
	  <tr style="background-color: #efe1e1; font-weight: bold; border-top: 2px solid #FA2222;">
	  	<td colspan="5" style="padding: 12px 10px; text-align: left;">Total Refund:</td>
	  	<td style="padding: 12px 10px;"><%=ApplicationHelper.inr_format(@total_refund)%></td>
	  </tr>
</table>
</div>
