	<style type="text/css">
	.hidden {
		display: none;
	}
</style>

<div id="company_id_card">
	<%= form_for @user ,url:company_id_card_edit_path, method: :post,html: { multipart: true }, local: true, data: { turbo: false } do  |form|%>
		<div class="form-group row">
			<label for="company_id_card" class="col-sm-2 col-form-label">Company ID Card </label>
			<div class="col-sm-6">
				<%if @user.company_id_card_status != "accepted" || current_toc.role.role !="employee"%>
					<%if @user.company_id_card.present?%>
						<%=render partial: 'proof', locals: {value: @user.company_id_card_url, form: @user, field_name: 'company_id_card', model: 'user' }%>
						<%if @user.company_id_card_status == "accepted"%>
							<%=render partial: 'download', locals: {value: @user.company_id_card_url,filename: @user.company_id_card_identifier ,}%>
						<%end%>
					<%else%>
						<%= form.file_field :company_id_card,class:"form-control"%>
					<%end%>
				<%else%>
					<%=render partial: 'profile_pic', locals: {value: @user.company_id_card.url}%>
					<%=render partial: 'download', locals: {value: @user.company_id_card.url,filename: @user.company_id_card_identifier , bucket: ENV["KYC_BUCKET"] }%>
				<%end%>
			</div>
		</div>
		<%if @user.company_id_card_status == "rejected"%>
			<div class="form-group row">
				<label for="company_id_card_rejected_reason" class="col-sm-2 col-form-label">Company id card reject reason</label>
				<div class="col-sm-6">
					<h5 style="color: red"><%=@user.company_id_card_rejected_reason%></h5>
				</div>
			</div>
		<%end%>
		<div class="col-sm-2">
		</div>
		<div class="col-sm-6">
			<%if @user.company_id_card_status != "accepted" || current_toc.role.role !="employee"%>
				<button type="submit" class="btn btn-primary btn-md">Submit</button>
				<button type="button" class="btn btn-primary btn-md" id="reject">Change Status</button>
			<%end%>
		</div>
	<%end%>
</div>
<div class="hidden" id="reason">
	<%= form_for @user ,url:change_proof_status_path(:proof=>"company_id_card"), method: :post do  |form|%>
		<div class=" form-group row">
			<label for="company_id_card_status" class="col-sm-2 col-form-label">Select Status</label>
			<div class="col-sm-6 ">
			<%= form.select :company_id_card_status,["not uploaded","pending","accepted","rejected"],class: "form-control"%>
			</div>
		</div>
		<div class="form-group row hidden" id="reason1">
			<label for="company_id_card_rejected_reason" class="col-sm-2 col-form-label">Company id card rejected reason </label>
			<div class="col-sm-6 ">
				<%= form.text_field :company_id_card_rejected_reason,class: "form-control"%>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
		<div class="col-sm-6">
			<%= form.submit "Submit",class: "btn btn-primary btn-md"%>
		</div>
	<%end%>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#reject").on("click",function() {
		$("#reason").removeClass("hidden");
		$("#reject").addClass("hidden");
		$("#company_id_card").addClass("hidden");
		$("#user_company_id_card_status").on("change",function() {
		var value1 = $(this).val()
		if (value1=="rejected"){ 
			$("#reason1").removeClass("hidden");
		}
		else{
			$("#reason1").addClass("hidden");
		}
		
	})
	})
})
</script>