<table class="table">
	<tbody>
		<tr>
			<th>First name</th>
			<td><%= @user.firstname%></td>
		</tr>
		<tr>
			<th>Last name</th>
			<td><%= @user.lastname%></td>
		</tr>
	</tbody>
</table>
<table class="table table-hover  table-condensed table-striped">
	<thead class="thead-dark">
	<tr>
		<th>S.no</th>
		<th>Proof</th>
		<th>Status</th>
		<th>Action</th>
		<th>Reminder</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">1</th>
		<td>Pan Card</td>
		<td><%=@user.pan_card_status%></td>
		<td>
			<%if @user.pan_card_status != "accepted" || current_toc.role.role !="employee"%>
				<%= link_to "Edit", pan_card_edit_path(model_name: 'User', id: @user.id),class: "btn btn-primary btn-sm", target: "_blank" %>
			<%end%>
		</td>
		<td>
			<%if @user.pan_card_status == "not uploaded" || @user.pan_card_status == "rejected"%>
				<%= link_to "Send Reminder", sub_section_kyc_path(model_name: 'User', id: @user.id, kyc_reminder: "true", proof: "Pan Card"),class: "btn btn-primary btn-sm"%>
			<%end%>
		</td>
	</tr>
	<tr>
		<th scope="row">2</th>
		<td>Aadhar</td>
		<td><%=@user.aadhar_status%></td>
		<td>
			<%if @user.aadhar_status != "accepted" || current_toc.role.role !="employee"%>
				<%= link_to "Edit", aadhar_edit_path(model_name: 'User', id: @user.id),class: "btn btn-primary btn-sm", target: "_blank" %>
			<%end%>
		</td>
		<td>
			<%if @user.aadhar_status == "not uploaded" || @user.aadhar_status == "rejected"%>
				<%= link_to "Send Reminder", sub_section_kyc_path(model_name: 'User', id: @user.id, kyc_reminder: "true", proof: "Aadhar"),class: "btn btn-primary btn-sm"%>
			<%end%>
		</td>
	</tr>
	<tr>
		<th scope="row">3</th>
		<td>Company ID Card</td>
		<td><%=@user.company_id_card_status%></td>
		<td>
		<%if @user.company_id_card_status != "accepted"|| current_toc.role.role !="employee"%>
			<%= link_to "Edit", company_id_card_edit_path(model_name: 'User', id: @user.id),class: "btn btn-primary btn-sm", target: "_blank" %>
		<%end%>
		</td>
		<td>
			<%if @user.company_id_card_status == "not uploaded" || @user.company_id_card_status == "rejected"%>
				<%= link_to "Send Reminder", sub_section_kyc_path(model_name: 'User', id: @user.id, kyc_reminder: "true", proof: "Company ID Card"),class: "btn btn-primary btn-sm"%>
			<%end%>
		</td>
	</tr>
	<tr>
		<th scope="row">5</th>
		<td>KYC Verified</td>
		<td><%=@user.kyc_verified%></td>
		<td>
		<%if @user.kyc_verified != true|| current_toc.role.role !="employee"%>
			<%= link_to "Edit", kyc_verified_edit_path(model_name: 'User', id: @user.id),class: "btn btn-primary btn-sm", target: "_blank" %>
		<%end%>
		</td>
		<td>

		</td>
	</tr>
	</tbody>
</table>

<script>
  $(function() {
  	var kyc_reminder="<%=@kyc_reminder%>";
  	if (kyc_reminder == "true")
  	{
			alert("<%=@proof%> reminder sent successfully");
			kyc_reminder=false;
			const url = window.location.origin + window.location.pathname;
			window.history.replaceState({}, document.title, url);
  	}
  });
</script>