<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
<body>

	<div><div dir="auto"><div><br><br></div><div>
	<div style="background:#f3f3f3;color:#565656;font-family:Avenir,Helvetica,Arial,sans-serif;font-size:16px;font-weight:100;padding:40px 20px;text-align:center" align="center">
		<%= render partial: '/user_mailer/email_text'%>
		<%@ip=@resource.last_sign_in_ip%>
		<%location=ApplicationHelper.getLocationDetails(@ip)%>
		<%@country = location[:country]%>
		<%@city = location[:city]%>
		
		<%if @resource.class.eql?("User")%>
			<div style="background:#fff;border:1px solid #e2e2e2;margin:20px auto;max-width:536px;min-width:300px;padding:40px;text-align:left" align="left">
			
				<%if @resource.firstname.nil?%>
					<p>Dear <%=@resource.email%> ,</p>
				<%else%>
					<p>Dear <%=@resource.firstname.capitalize%> <%=@resource.lastname.capitalize%>,</p>
				<%end%>			
				<p>Someone has requested a link to change your password. You can do this through the link below.</p>
				<div><p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token),{style: "background:#ec9f36;border-radius:8px;border:1px solid #ffffff;color:#fff;display:block;font-weight:lighter;margin-top:40px;padding:16px 0px;text-align:center;text-decoration:none;width:100%"} %></p></div>				

				<p>If you didn't request this, please ignore this email.</p>
				<p>Your password won't change until you access the link above and create a new one.</p>			

				<p style="padding-left:10px">IP Address: <%=@ip%></p>
				<p style="padding-left:10px">Location: <%=@city rescue nil%> & <%=@country rescue nil%></p>			
			<%= render partial: '/user_mailer/email_text2'%>

				<p>Best Regards,</p>
				<p>Team CARE</p>
				<p><%=link_to "TheOfficeCapital Inc","https://www.theofficecapital.com"  %></p>
							
			</div>

		<%else%>
			<div style="background:#fff;border:1px solid #e2e2e2;margin:20px auto;max-width:536px;min-width:300px;padding:40px;text-align:left" align="left">
				<p>Dear <%=@resource.email%> ,</p>
				<p>Someone has requested a link to change your password. You can do this through the link below.</p>
				<!-- <p><%#= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p> -->
				<div><p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token),{style: "background:#ec9f36;border-radius:8px;border:1px solid #ffffff;color:#fff;display:block;font-weight:lighter;margin-top:40px;padding:16px 0px;text-align:center;text-decoration:none;width:100%"} %></p></div>		
				<p>If you didn't request this, please ignore this email.</p>
				<p>Your password won't change until you access the link above and create a new one.</p>			

				<p style="padding-left:10px">IP Address: <%=@ip%></p>
				<p style="padding-left:10px">Location: <%=@city rescue nil%> & <%=@country rescue nil%></p>			

				<p>Best Regards,</p>
				<p>Team CARE</p>
				<p><%=link_to "TheOfficeCapital Inc","https://www.theofficecapital.com"  %></p>
							
			</div>					
		<%end%>
			<div style="margin:40px auto;font-size: 20px"><p>Need any help? we love to support you, please write to us at <a href="mailto:theofficecapital.com" target="_blank" style="color:#185285;font-weight:bold" target="_blank">theofficecapital.com</a>.</p>
			</div>
			<hr style="border-top-color:#e2e2e2;border-top-style:solid;border-width:1px 0px 0px;margin:30px auto;max-width:300px">
			<%if @resource.class.eql?("User")%>
				<div style="color:#929292;font-size:12px;margin:20px auto;max-width:536px;min-width:300px"><p>You received this email because you are a TheOfficeCapital customer.</p><p>This notification was sent to <strong><%=@resource.firstname%> <%=@resource.lastname%> (<a href="<%=@resource.email%>" target="_blank"><%=@resource.email%></a>)</strong>. TheOfficeCapital will never ask you for your password in an email. Please check your browser's address bar before you enter any login or personal information.</p>
				</div>
			<%else%>
				<div style="color:#929292;font-size:12px;margin:20px auto;max-width:536px;min-width:300px"><p>You received this email because you are a TheOfficeCapital customer.</p><p>This notification was sent to <strong><%=@resource.email%>(<a href="<%=@resource.email%>" target="_blank"><%=@resource.email%></a>)</strong>. TheOfficeCapital will never ask you for your password in an email. Please check your browser's address bar before you enter any login or personal information.</p>
				</div>			
			<%end%>
	  <div style="color:#929292;font-size:12px;margin:20px auto;max-width:536px;min-width:300px"><p>© 2014-2016 TheOfficeCapital Inc</p><div class="yj6qo"></div><div class="adL">
	    </div></div><div class="adL">
	  </div></div><div class="adL">
	</div></div></div></div>
</body>
</html>
